version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: tasktracker-db
    restart: always
    environment:
      POSTGRES_DB: tasktracker
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
